<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unauthorized</title>
</head>
<body>
    <pre class="text-danger">
        Hi!,

        You are not authorized to visit this page.

        Thanks,
        Sudarshan Gora
    </pre>
</body>
</html>
