@{
    ViewBag.Title = "Home Page";
}


<div class="row"    >
    <div class="col-xs-12">
        <pre>
        Hi!,
        
            Welcome to the Telerivet Example.

        Thanks,
        Sudarshan Gora
        </pre>
    </div>
</div>